@model PaginaPessoal_BD.Models.Experiencia

@{
    ViewData["Title"] = "Apagar registo";
}

<!-- OLÁ-->
<section class="page-section mt-lg-4" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Apagar registo</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark mb-5">
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-md-12">
                <h3>Tem a certeza de que quer apagar este registo?</h3>
                <br />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.NomeEmpresa)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NomeEmpresa)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataInicio)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DataFim)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DataFim)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Funcoes)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Funcoes)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="ExperienciaId" />
                    <input type="submit" value="Apagar" class="btn btn-danger" /> |
                    <a asp-action="Index">Voltar</a>
                </form>
            </div>
        </div>
    </div>
</section>