@model IEnumerable<PaginaPessoal_BD.Models.Experiencia>

@{
    ViewData["Title"] = "Experiência Profissional";
}



<!-- OLÁ-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Experiência Profissional</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="card">
            <div class="card-body" id="alinhamento">
                <partial name="_LoginPartial" />
            </div>
        </div>

        <a asp-action="Create" class="btn btn-success">Nova entrada</a>

        
        <!-- About Section Content-->
        <div class="row">
            <p class="lead">
        </div>
        @foreach (var item in Model)
        {
            <div>
                <br /><br /><br />
                <p>Empresa:</p>
                <h4>@Html.DisplayFor(modelItem => item.NomeEmpresa)</h4>
                <p>De</p>
                <h5>De @Html.DisplayFor(modelItem => item.DataInicio) a @Html.DisplayFor(modelItem => item.DataFim)</h5>
                <p>Data de Fim:</p>
                <h5>@Html.DisplayFor(modelItem => item.DataFim)</h5>
                <p>Funções:</p>
                <h5>@Html.DisplayFor(modelItem => item.Funcoes)</h5>

                <a class="btn btn-warning align-items-center" asp-action="Edit" asp-route-id="@item.ExperienciaId">Editar</a>
                <a class="btn btn-info align-items-center" asp-action="Details" asp-route-id="@item.ExperienciaId">Detalhes</a>
                <a class="btn btn-danger align-items-center" asp-action="Delete" asp-route-id="@item.ExperienciaId">Apagar</a>

            </div>
        }
        
    </div>
</section>