@model ListaExperienciasVIewModel

@{
    ViewData["Title"] = "Experiência Profissional";
}


<!-- OLÁ-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Experiência Profissional</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        @*<div class="card">
            <div class="card-body" id="alinhamento">
                <partial name="_LoginPartial" />
            </div>
        </div>*@

        <a asp-action="Create" class="btn btn-success mb-4">Nova entrada</a>


        <div class="card border-info">
            <div class="card-body">
                <h5 class="card-title">Pesquisa</h5>
                <form asp-action="Index" method="get">
                    <div class="form-group">
                        <label for="nomePesquisa" class="control-label">Nome a pesquisar</label>
                        <input name="nomePesquisa" class="form-control" type="search" value="@Model.NomePesquisa" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Pesquisar" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Limpar</a>
                    </div>
                </form>
            </div>
        </div>


        @if (Model.Experiencias.Count() == 0)
        {
            <p>Não existem experiências para mostrar</p>
        }

        <!-- About Section Content-->
        <div class="row">
            <p class="lead">
        </div>
        @foreach (var experiencia in Model.Experiencias)
        {
    <div class="mb-4">
        <br /><br /><br />
        <p>Empresa:</p>
        <h4>@Html.DisplayFor(modelItem => experiencia.NomeEmpresa)</h4>
        <p>Cargo:</p>
        <h4>@Html.DisplayFor(modelItem => experiencia.Cargo)</h4>
        <p>De</p>
        <h5>De @Html.DisplayFor(modelItem => experiencia.DataInicio) a @Html.DisplayFor(modelItem => experiencia.DataFim)</h5>
        <p>Data de Fim:</p>
        <h5>@Html.DisplayFor(modelItem => experiencia.DataFim)</h5>
        <p>Funções:</p>
        <h5>@Html.DisplayFor(modelItem => experiencia.Funcoes)</h5>
    </div>
    <div class="pagination justify-content-center">
        <a class="btn btn-warning align-items-center nav-item mx-0 mx-lg-1" asp-action="Edit" asp-route-id="@experiencia.ExperienciaId">Editar</a>
        <a class="btn btn-info align-items-center nav-item mx-0 mx-lg-1" asp-action="Details" asp-route-id="@experiencia.ExperienciaId">Detalhes</a>
        <a class="btn btn-danger align-items-center nav-item mx-0 mx-lg-1" asp-action="Delete" asp-route-id="@experiencia.ExperienciaId">Apagar</a>
    </div>
            
        }
    </div>
</section>

<!-- Paginação-->

<nav>
    <ul class="pagination justify-content-center mb-5">

        @{
            int paginaInicial = Model.Paginacao.PaginaAtual - Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
            if (paginaInicial < 1) { paginaInicial = 1; }

            int paginaFinal = Model.Paginacao.PaginaAtual + Paginacao.NUMERO_PAGINAS_MOSTRAR_ANTES_DEPOIS;
            if (paginaFinal > Model.Paginacao.TotalPaginas) { paginaFinal = Model.Paginacao.TotalPaginas; }
        }

        <li class="page-item @(Model.Paginacao.PaginaAtual == 1 ? "disable" : "")">
            <a class="page-link" asp-action="Index" asp-route-pagina="1">Primeira</a>
        </li>

        @for (int i = paginaInicial; i <= paginaFinal; i++)
        {
            <li class="page-item @(Model.Paginacao.PaginaAtual == i ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pagina="@i">@i</a>
            </li>
        }

        <li class="page-item @(Model.Paginacao.PaginaAtual == Model.Paginacao.TotalPaginas ? "disable" : "")">
            <a class="page-link" asp-action="Index" asp-route-pagina="@Model.Paginacao.TotalPaginas">Última</a>
        </li>
    </ul>
</nav>