@model ListaExperienciasVIewModel

@{
    ViewData["Title"] = "Experiência Profissional";
}



<!-- OLÁ-->
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="topo page-section-heading text-center text-uppercase text-secondary mb-0">Experiência Profissional</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="card">
            <div class="card-body" id="alinhamento">
                <partial name="_LoginPartial" />
            </div>
        </div>

        <a asp-action="Create" class="btn btn-success">Nova entrada</a>

        @if (Model.Experiencias.Count() ==0)
        {
            <p>Não existem experiências para mostrar</p>
        }

        <!-- About Section Content-->
        <div class="row">
            <p class="lead">
        </div>
        @foreach (var experiencia in Model.Experiencias)
        {
    <div>
        <br /><br /><br />
        <p>Empresa:</p>
        <h4>@Html.DisplayFor(modelItem => experiencia.NomeEmpresa)</h4>
        <p>Cargo:</p>
        <h4>@Html.DisplayFor(modelItem => experiencia.Cargo)</h4>
        <p>De</p>
        <h5>De @Html.DisplayFor(modelItem => experiencia.DataInicio) a @Html.DisplayFor(modelItem => experiencia.DataFim)</h5>
        <p>Data de Fim:</p>
        <h5>@Html.DisplayFor(modelItem => experiencia.DataFim)</h5>
        <p>Funções:</p>
        <h5>@Html.DisplayFor(modelItem => experiencia.Funcoes)</h5>

        <a class="btn btn-warning align-items-center" asp-action="Edit" asp-route-id="@experiencia.ExperienciaId">Editar</a>
        <a class="btn btn-info align-items-center" asp-action="Details" asp-route-id="@experiencia.ExperienciaId">Detalhes</a>
        <a class="btn btn-danger align-items-center" asp-action="Delete" asp-route-id="@experiencia.ExperienciaId">Apagar</a>

    </div>
        }
        
    </div>

    <p>A mostrar página @Model.Paginacao.PaginaAtual de @Model.Paginacao.TotalPaginas</p>

</section>

